body{
    margin: 0;
    padding: 0;
}

header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    position: relative;
}
header nav {
    display: inline-block;
}
header h2{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: 20px;
}

li{
    display: inline-block;
    margin:20px;
}