* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', Arial, sans-serif;
}
body {
    height: 100vh;
    background-color: rgb(37, 36, 36);
    display: grid; 
    place-items: center;
    overflow: hidden;
}
.container {
    width: 300px;
    border-radius: 6px;
    padding: 8px;
    background:grey;
}
#title {
    text-align: center;
    padding: 4px 0;
    border-bottom: 1px solid black;
}
#coinSticker {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
#userValue {
    display: block;
    width: 100%;
    padding: 10px 8px;
    margin: 12px 0;
    border-radius: 4px;
    border: 1px solid gray;
    outline: transparent;
    font-family: monospace;
}
.selecterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}
.selecterContainer select {
    padding: 2px;
    border-radius: 4px;
    max-width:40%;
    outline: transparent;
}
#switchCurrency {
    font-size: 22px;
    border: 0;
    outline: transparent;
}
#status {
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
    color: white;
    text-transform: capitalize;
}
#btn {
    width: 100%;
    background-color: orange;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.14s;
}
#btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgb(77, 223, 231);
}
#result {
    width: 100%;
    padding: 12px 16px;
    font-weight: 550;
    text-align: center;
    border-radius: 6px;
    background-color: rgba(255, 165, 0, 0.5);
}



  
 /* move dropdwon to the right side of container */
.dropdown {
position: relative;
left:275px;
}

.dropbtn {
background-color: orange;
color: white;
font-size: 16px;
border: none;
border-radius: 30%;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}


.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #000000;}
